footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
}

.footer {
    background-color: black;
    min-height: 300px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer-mot {
    margin-left: 5%;
    float: left;
    min-height: 200px;
    line-height: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 4%;
}

.footer-hai {
    margin-left: -9%;
    float: left;
    min-height: 200px;
    line-height: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 4%;
}

.footer-hai span {
    color: darkgrey;
    font-size: 10pt;
}

.footer-ba {
    margin-left: -35%;
    float: left;
    min-height: 200px;
    line-height: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 3%;
}

.footer-ba span {
    color: darkgrey;
    font-size: 10pt;
}

.footer-bon {
    position: fixed;
    left: 80%;
    display: inline-block;
    margin-top: 2%;
}

.footer a {
    padding-left: 0px;
}

.footer ul li {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: inherit;
}

.bot {
    position: relative;
}

.bot {
    width: 50%;
    margin-left: 20vw;
}

.bot ul li {
    list-style: none;
}

.bot ul li.gach {
    font-size: 12px;
}

.bot .bot-mot {
    font-size: 14px;
}

.bot ul li a {
    font-family: Nike TG, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.bot a {
    color: black;
    text-decoration: none;
}

.bot-mot {
    margin-left: 9%;
    float: left;
    min-height: 200px;
    line-height: 35px;
    margin-top: 4%;
}

.bot-hai {
    margin-left: 5%;
    float: left;
    min-height: 200px;
    line-height: 35px;
    margin-top: 4%;
}

.bot-hai,
.bot-mot span {
    color: darkgrey;
    font-size: 10pt;
}

.bot-ba {
    margin-left: 5%;
    float: left;
    min-height: 200px;
    line-height: 35px;
    margin-top: 4%;
}

.bot-ba span {
    color: darkgrey;
    font-size: 10pt;
}

.boxcenter {
    width: 92%;
    margin: 0 auto;
}


/* Top Nav */

.top-bar {
    height: 40px;
    line-height: 40px;
    background-color: whitesmoke;
}

.top-bar .logo {
    width: 50px;
    height: 40px;
    float: left;
    padding-top: 5px;
    margin-left: 15px;
}

.top-bar .logo img {
    width: 20px;
}

.help-user-menu {
    float: right;
}

.help-user-menu a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9pt;
    font-weight: 500;
    margin-right: 10px;
    margin-left: 10px;
}


/* Nav */

nav {
    display: grid;
    grid-template-columns: auto auto 0.5fr;
    width: 100%;
    height: 70px;
    line-height: 60px;
}

.mn3 {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: 70px;
    line-height: 60px;
}

.logo-shop {
    height: 60px;
}

.logo-shop img {
    width: 100px;
}

.menu ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu ul li {
    list-style: none;
    display: inline;
    margin-right: 40px;
    font-size: 15pt;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13pt;
}

.menu2 ul {
    padding: 0;
    margin: 0;
    text-align: center;
    margin-left: 0.5vw;
}

.menu2 ul li {
    list-style: none;
    display: inline;
    margin-right: 40px;
    font-size: 15pt;
}

.menu2 ul li a {
    text-decoration: none;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13pt;
}

.menu3 ul {
    text-align: center;
    margin-left: 0.5vw;
}

.menu3 ul li {
    list-style: none;
    display: inline;
    margin-right: 40px;
}

.menu3 ul li a {
    text-decoration: none;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13pt;
    margin-top: 10vw;
}

.p2 p.price {
    margin-left: 13vw;
}


/* Search */

.user-search {
    text-align: right;
}

.user-search a {
    color: black;
}

.user-search .search {
    background-color: whitesmoke;
    width: 160px;
    height: 40px;
    float: left;
    border-radius: 20px;
    margin-top: 11px;
}

.user-search .btnsearch {
    float: left;
    border-radius: 20px;
    border: none;
    width: 60px;
    height: 40px;
    background-color: whitesmoke;
}

.user-search .btnsearch:hover {
    background-color: gainsboro;
}

.user-search input {
    float: left;
    border: none;
    width: 100px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 20px;
}


/* Banner */

.container {
    float: left;
    position: relative;
    width: 100%;
    min-height: 600px;
}

.container-trending .text-banner {
    width: 40%;
    margin-top: -16vw;
}

.container-trending .text-banner a {
    text-decoration: none;
    color: white
}

.container-trending .text-banner .sup {
    width: 90%
}

.banner img {
    width: 100%;
}

.text-banner {
    position: absolute;
    top: 72%;
    left: 3%;
}

.text-banner .dna {
    font: inherit;
    vertical-align: baseline;
    font-weight: 400;
    margin: 0;
}

.air {
    font-size: 72px;
    line-height: .833333;
    text-transform: uppercase;
    font-size: 56pt;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}

.let {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 56pt;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}

.term {
    text-align: center;
}

.term a {
    text-decoration: none;
    color: black;
}

.term2 {
    text-align: center;
}

.term2 a {
    font-size: 70px;
    text-decoration: none;
    color: black;
}

.mrbot {
    margin-bottom: 100px;
}


/* Trending */

.text-trending {
    font-weight: 400;
    font-size: 18pt;
    font-family: sans-serif;
}

.container-trending {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

.itemsgrid {
    position: relative;
}

.itemsgrid img {
    width: 98%;
    height: 510px;
}

.itemsgrid2 {
    position: relative;
    width: 100%;
}

.image3 img {
    width: 100%;
    height: 510px;
    margin-top: -18px;
    position: relative;
}

.container-trending2 {
    width: 100%;
}

.text-name-project {
    font-family: sans-serif;
    position: absolute;
    top: 78%;
    left: 7%;
}

.text-name-project a {
    font-family: sans-serif;
    font-size: 15pt;
    text-decoration: none;
    color: black;
}

.shop-now-trending {
    position: absolute;
    top: 85%;
    left: 7%;
    border-radius: 50px;
    height: 30px;
}

.shop-now-trending a {
    background-color: black;
    color: white;
    padding: 9px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

.women {
    text-align: left;
    margin-left: -16%;
    font-size: 15pt;
}